.section_heading {
  text-align: left;
  background: url("../../assets/images/banner.png");
  height: 517px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  position: relative;
  padding: 0 144px;
}
.section_heading .gradient_section_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  background: linear-gradient(269.47deg, #c6ed86 60.32%, #0185ff 95.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}
.section_heading h1 {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  margin: 0;
}

.zizag_arrow {
  position: absolute;
  width: 594px;
  height: 32px;
  left: -47px;
  top: 470px;
  mix-blend-mode: screen;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section_heading {
    padding: 0 20px;
    height: 350px;
  }
  .section_heading h1,
  .section_heading .gradient_section_heading {
    font-size: 22px;
    line-height: 33px;
  }
  .zizag_arrow {
    width: 100%;
    top: 290px;
  }
}
